<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EsterApp">
        <!-- LoginActivity es la pantalla de inicio de la app -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity declarada pero ya no es la pantalla de inicio -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <!-- MenuActivity es la pantalla principal después del login -->
        <activity
            android:name=".ui.MenuActivity"
            android:exported="false"/>
        <!-- Pantalla para registrar gastos -->
        <activity
            android:name=".ui.RegistrarGastoActivity"
            android:exported="false"/>

        <!-- Pantalla para registrar ingresos -->
        <activity
            android:name=".ui.RegistrarIngresoActivity"
            android:exported="false"/>

        <!-- Pantalla de informes -->
        <activity
            android:name=".ui.InformesActivity"
            android:exported="false"/>

        <!-- Pantalla de gestión de usuarios, solo para Administrador -->
        <activity
            android:name=".ui.GestionUsuariosActivity"
            android:exported="false"/>


    </application>

</manifest>